<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Notifier</title>
</head>
<body>
  <form action="/done" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" /><br><br>
    <label for="message">Message:</label>
    <input type="text" name="message" id="message" /><br><br>
    <label for="secs">Remind me after (minutes):</label>
    <input type="number" name="mins" id="mins" step="any"><br><br>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>